@use "@/styles/spacing" as *;
@use "@/styles/colors" as *;

.shell {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  height: 100dvh;
  margin: 0 auto;
  overflow: hidden;
  touch-action: manipulation;
}

.canvas {
  width: 100%;
  height: 100%;
  aspect-ratio: 9 / 16;
  border-radius: 0;
  overflow: hidden;
}
